{% extends "layout.html" %}

{% block content %}
<link
href="{{ url_for('static', filename='css/main.css') }}"
rel="stylesheet"
/>
<div class="upload-page">
  <p>Upload an image for classification - there is a 2MB size limit using the Flask Development server.<p>
    <p>Link to <a href=https://github.com/MoKaif/BaitAware-Clickbait_Detection_System target="_new">Github repository</a></p>
  </p>
  </p>
  <div class="upload-form">
    <form action = "/baitaware/api/v1/uploader" method = "POST" 
      enctype = "multipart/form-data">
      <input type = "file" name = "file" id="fileInput"/>
      <input type = "submit" value="submit" disabled/>
    </form>
  </div>
</div>
    
  

{% endblock %}