{% extends "layout.html" %} {% block content %}
<!-- <p class="text-left">{{ fname }} successfully uploaded.</p> -->
<div class="flex justify-evenly mt-10">
  <div class="">
    <div class="image-container">
      <!-- <p class="text-left">Original Image</p>      -->
      <a href="/static/uploads/{{ fname }}" target="_new"
        ><img
          src="/static/uploads/{{ fname }}"
          class="upload-image-thumb"
          height="500"
          width="500"
      /></a>
    </div>
  </div>
  <div class="">
    <div class="image-container">
      <!-- <p class="text-left"> Processed Image</p>      -->
      <a href="/static/uploads/{{ fname2 }}" target="_new"
        ><img
          src="/static/uploads/{{ fname2 }}"
          class="upload-image-thumb"
          height="500"
          width="500"
      /></a>
    </div>
    <!--<p class="text-left">   <b>Prediction:</b> Given image is <b>{{ result }}</b> with score <b>{{ score }}%</b>.</p>-->
  </div>
</div>

<div class="mt-10 lexend letter-animation">
  {% if result=='HAM' %}
  <span class="text-2xl font-bold" style="color: green">{{ result }}</span>
  {% else %}
  <span class="text-2xl font-bold" style="color: red">{{ result }}</span>
  {% endif %}

  <div class="letter-animation text-2xl">
    <span class="mt-3" style="color: blue">Clickbait Score: </span>
    <span style="color: blue">{{score}}</span>
  </div>

  <div align="center" padding="auto" class="progress">
    <div
      class="progress-bar progress-bar-success"
      role="progressbar"
      aria-valuenow="{{score}}"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width:{{score}}%"
    ></div>
  </div>

<!-- <div padding="50" class="upload-form mt-10">
  <p class="text-center">Upload another?</p>
  <form
    action="/baitaware/api/v1/uploader"
    method="POST"
    enctype="multipart/form-data"
    class="mt-4"
  >
    <input type="file" name="file" />
    <input type="submit" />
  </form>
</div> -->


  {% endblock %}
</div>
